<%# if Payment&.last&.file&.attached? %>
  <%#= image_tag Payment.last.file,
    class: "img-thumbnail", style: 'height:4vw;width:auto' %>
  <%#= link_to "dWONLOAD", rails_blob_path(Payment.last.file,
  	disposition: 'attachment') %>
<%# end %>

<section id="hero" class="div-image bgimage">
	<div class="container h-100">
		<div class="row align-items-center h-100">
			<div class="col-md-4 offset-md-8 col-12 text-center">
				<div class="text-black">
					<h2 class="display-6">
						Encuentra Tu Estilo
					</h2>
					<h1 class="font-weight-bold">Otra Vez</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="main-section">
	<div class="container my-2">
		<div class="title-section my-5">
			<h2 class="text-uppercase">
				<span class="d-block">Descubre</span>
				Nuestra Colección
			</h2>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 my-2">
				<div class="d-flex flex-column align-items-center justify-content-end div-image chava">
					<%= link_to "MUJER",categorias_path(cat: "mujer"),
						class: "btn btn-light mb-4 px-4" %>
				</div>
			</div>
			<div class="col-12 col-md-6 my-2">
				<div class="d-flex flex-column align-items-center justify-content-end div-image chavo">
					<%= link_to "HOMBRE",categorias_path(cat: "hombre"),
						class: "btn btn-light mb-4 px-4" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12" style="margin:0.75rem 0">
				<div class="d-flex flex-column align-items-center justify-content-end div-image otro">
					<%= link_to "OTRO",categorias_path(cat: "otro"),
						class: "btn btn-light mb-4 px-4" %>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="new"class="container mx-auto mt-2 mb-5 py-3">
	<div class="title-section my-5">
		<h2 class="text-uppercase">
			<span class="d-block">Lo</span>
			Nuevo
		</h2>
	</div>
	<div id="image-slider" class="splide">
		<div class="splide__slider">
			<div class="splide__track">
				<ul class="splide__list">
					<% @products.first(8).each do |product| %>
						<li class="splide__slide text-center">
							<div class="splide__slide__container mb-2">
								<% if product.main_image.attached? %>
								  <%= image_tag product.main_image.variant(resize_to_fit: [200, 200], quality: 80),
								    class: "img-fluid",
								    style: 'height:200px;width:auto' %>
								<% else %>
								  <%= image_tag 'otra_vez_blanco.jpg',
								    class: "img-fluid",
								    style: 'height:200px;width:auto' %>
								<% end %>

								<h5 class="text-muted"><%= product.title %></h5>
								<p>Lps. <%= product.price %></p>

								<%= form_for(@order_item, remote: true) do |f| %>
									<%= f.hidden_field :product_id,
										value: product.id %>
									<%= f.hidden_field :quantity, value: 1 %>
									<%= f.submit "Agregar",
										class: "btn btn-sm btn-outline-dark" %>
								<% end %>
							</div>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="splide__progress mt-3">
			<div class="splide__progress__bar"></div>
		</div>
	</div>
</section>

<%= render 'shared/footer' %>
<%= render 'shared/added_to_cart_modal' %>

<style>
.bgimage {
	height:600px;
	filter: brightness(100%);
	background-image: url(<%= image_path('banner2.jpg') %>);
}

.chava {
	height: 80vh;
	filter: brightness(100%);
	background-image: url(<%= image_path('chava2.jpg') %>);
	background-size: contain;
}

.chavo {
	height: 80vh;
	filter: brightness(100%);
	background-image: url(<%= image_path('chavo2.jpg') %>);
	background-size: contain;
}
.otro {
	height: 40vh;
	filter: brightness(100%);
	background-image: url(<%= image_path('otro2.jpg') %>);
	background-size: contain;
}
</style>
