<section id="hero" class="div-image bgimage">
	<div class="container h-100">
		<div class="row align-items-center h-100">
			<div class="col-md-4 offset-md-8 col-12 text-center">
				<h1 class="text-white">HOLA CHELE</h1>
			</div>
		</div>
	</div>
</section>

<section id="main-section">
	<div class="container my-2">
		<div class="row">
			<div class="col-12 col-md-6 my-2">
				<div class="row">
					<div class="col-12 mb-2">
						<div class="d-flex flex-column align-items-center justify-content-end div-image chavo">
							<button class="btn btn-light mb-4 px-4"
								type="button">
								HOMBRE
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12" style="margin:0.75rem 0">
						<div class="d-flex flex-column align-items-center justify-content-end div-image wacho">
							<button class="btn btn-light mb-4 px-4"
								type="button">
								OTROS
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 my-2">
				<div class="d-flex flex-column align-items-center justify-content-end div-image chava">
					<button class="btn btn-light mb-4 px-4"
						type="button">
						MUJER
					</button>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container products my-5">
	<!-- session[:order_id]: <%#= session[:order_id] %> -->
	<h1>Productos</h1>
	<% @products.each do |product| %>
		<div class="card bg-light mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-6 col-12">
						<h3><%= product.title %></h3>
					</div>
					<div class="col-sm-6 col-12">
						<%= form_for(@order_item, remote: true) do |f| %>
							<%= f.hidden_field :product_id, value: product.id %>
							<div class="row">
								<div class="col-4">
									<h5><%= product.price %></h5>
								</div>
								<div class="col-4">
									<div class="from-group">
										<%= f.number_field :quantity, value: 1, min: 1, class: 'form-control' %>
									</div>
								</div>
								<div class="col-4">
									<%= f.submit "Add" %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</section>

<%= render 'shared/footer' %>
<%= render 'shared/added_to_cart_modal' %>

<style>
.bgimage {
	height:600px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(<%= image_path('banner.jpg') %>);
}

.chava {
	height: 95vh;
	background-image: url(<%= image_path('chava.jpg') %>);
}

.chavo {
	height: 50vh;
	background-image: url(<%= image_path('chavo.jpg') %>);
}
.wacho {
	height: 40vh;
	background-image: url(<%= image_path('wacho.jpg') %>);
}
</style>
