<% products.each do |product| %>
	<div class="col-12 col-sm-4">
		<div class="cardd mb-3 mx-auto">
			<% if product.main_image.attached? %>
				<div class="text-center">
					<%= link_to "#",
						data: {toggle: "modal",
							target: "#imageModal-#{product.slug}"}  do %>
					  <%= image_tag product.main_image.variant(resize_to_limit: [200, 200], quality: 75),
					    class: "card-img-top px-3 py-3 rounded",
						loading: "lazy",
					    style: 'height:18rem;max-width:100%;width:auto;object-fit:fill;' %>
					<% end %>
				</div>
				<%= render 'image_modal', product: product %>
			<% else %>
			  <%= image_tag 'otra_vez_blanco.jpg',
			    class: "card-img-top px-3 py-3 rounded",
			    loading: "lazy",
			    style: 'height:18rem;width:auto;object-fit: fill;' %>
			<% end %>
			<div class="card-body">
				<h6 class="card-subtitle">
					<%= product.title %>
					<small><%= product.brand %></small>
				</h6>
				<p class="card-title font-weight-bolder d-flex justify-content-between">
					<span>
						<%= number_to_currency(product.price, unit: "Lps. ", separator: ".", delimiter: ",") %>
					</span>
					<span class="h5 font-weight-normal text-secondary">
						<%= product.size.humanize.upcase %>
					</span>
				</p>
				<p class="card-title font-weight-bolder d-flex justify-content-between">
					<span class="h6 font-weight-normal text-secondary">
						<%= product.subcategory ? product.subcategory&.humanize : "Adulto" %>
					</span>
					<span class="h6 font-weight-normal text-secondary">
						<%= product.fit ? "queda como #{ product.fit&.humanize}" : "Tamaño real"%>
					</span>
				</p>

				<%= form_for(order_item, remote: true) do |f| %>
					<%= f.hidden_field :product_id,
						value: product.id %>
					<div class="d-flex justify-content-around">
						<div class="from-group flex-fill mr-3">
							<%= f.number_field :quantity, value: 1, min: 1,
								max: product.quantity,
								class: 'form-control' %>
						</div>
						<div>
							<%= f.submit "Comprar",
							class: "btn btn-sm btn-outline-dark form-control" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<% if (!option_params.nil? || !size_params.nil?) && products.empty? %>
	<div class="container">
		<div class="empty-products bg-light my-5 d-flex justify-content-center align-items-center">
			<h5 class="text-muted text-center">
				No tenemos disponible en este momento :(
			</h5>
		</div>
	</div>
<% end %>
