<hr>
<div id="categories" class="container my-5">
	<div class="row">
		<div id="filter" class="col-12 col-sm-3 pb-4"
			data-controller="filter">
			<div class="card">
				<div class="card-header bg-dark" id="headingOne">
					<h2 class="mb-0">
						<button
							class="btn btn-dark btn-block text-left d-flex justify-content-between switch"
							type="button"
							data-action="filter#toggle_option">
							<span>Filtrar</span>
							<i data-target="filter.optionIcon"
							class="fas <%= params[:open] ? 'fa-minus' : 'fa-plus' %> mt-1"></i>
						</button>
					</h2>
				</div>
				<div class="collapse <%= 'show' if params[:open] %>"
					data-target="filter.optionList">
					<div class="card-body">
						<ul class="list-group">
							<%= filter_link_options(params[:option]) %>
							<%= filter_link_options(params[:option],
								"camiseta") %>
							<%= filter_link_options(params[:option],
								"polo") %>
							<%= filter_link_options(params[:option],
								"manga_larga") %>
							<%= filter_link_options(params[:option],
								"gorra") %>
						</ul>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header bg-dark" id="headingOne">
					<h2 class="mb-0">
						<button
							class="btn btn-dark btn-block text-left d-flex justify-content-between switch"
							type="button"
							data-action="filter#toggle_size">
							<span>Tamaño</span>
							<i data-target="filter.sizeIcon"
							class="fas <%= params[:open] ? 'fa-minus' : 'fa-plus' %> mt-1"></i>
						</button>
					</h2>
				</div>
				<div class="collapse <%= 'show' if params[:open] %>"
					data-target="filter.sizeList">
					<div class="card-body">
						<ul class="list-group">
							<%= filter_link_options(params[:option]) %>
							<%= filter_link_options(params[:option],
								"camiseta") %>
							<%= filter_link_options(params[:option],
								"polo") %>
							<%= filter_link_options(params[:option],
								"manga_larga") %>
							<%= filter_link_options(params[:option],
								"gorra") %>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-9">
			<div id="products-loop" class="row">
				<%= render 'products_partial',
					products: @products, order_item: @order_item,
					option_params: params[:option] %>
			</div>
		</div>
	</div>
	<%= render 'shared/added_to_cart_modal' %>
</div>
