<% subtotal = 0 %>
<div data-controller="shopping">
  <div id="timer" style="min-height: 3rem;"
    class="bg-primary text-white d-flex align-items-center justify-content-center">

    <span class= "d-none" data-target="shopping.endTimer">
      <%= @order.end_timer %>
    </span>
    <span class= "d-none" data-target="shopping.orderSlug">
      <%= @order.slug %>
    </span>

    <span data-target="shopping.banner">
      Tiempo para realizar la compra: &nbsp;
    </span>
    <span data-target="shopping.output"></span>

    <div data-target="shopping.moreTime">
      <%= link_to extend_timer_path,
        method: :patch,
        class: "btn btn-outline-light btn-sm ml-5",
        data: {
          disable_with: fa_spinner} do %>
        Necesitas más tiempo?
      <% end unless @order.time_extended %>
    </div>
  </div>

  <div class="row py-5 bg-light">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="container">
        <div class="py-3 text-center">
          <h2 class="text-dark">Pago</h2>
          <hr>
        </div>

        <div class="row g-3">
          <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-dark">Total</span>
            </h4>

            <ul class="list-group mb-3">
              <% @order_items.each do |item| %>
                <li id="check-out-order-item-<%= item.id %>"
                  class="list-group-item d-flex justify-content-between lh-sm">
                  <div>
                    <h6 class="my-0">
                      <%= item.product.title %>
                    </h6>
                    <small class="text-muted">
                      Cantidad <%= item.quantity %>
                    </small>
                  </div>
                  <span class="text-muted">
                    <%= number_to_currency(item.total_price,
                      unit: "Lps. ", separator: ".", delimiter: ",") %>
                  </span>
                </li>
                <% subtotal += item.total_price %>
              <% end %>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total</span>

                <strong>
                  <%= number_to_currency(subtotal,
                    unit: "Lps. ", separator: ".", delimiter: ",") %>
                </strong>
              </li>
            </ul>
          </div>

          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3 text-dark">Transferencia</h4>
            <%= form_with(model: @payment) do |f| %>
              <div class="mb-4">
                <div class="card">
                  <div class="card-body">
                    This is some text within a card body. <br>
                    Envia prueba de tu transferencia <br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, ex!
                  </div>
                </div>
                 <br>
                <label class="my-1 font-weight-bold">
                  Adjunta una captura con el comprobante de tu pago
                </label>
                <div class="form-file">
                  <%= f.file_field :file, class: "form-file-input",
                    id: "paymentFileUpload",
                    data: { action: "input->shopping#checkFile" } %>
                  <label class="form-file-label" for="paymentFileUpload">
                    <span class="form-file-text">Seleccionar...</span>
                    <span class="form-file-button">Buscar</span>
                  </label>
                  <small>
                    <%= f.error_for :file, class: "text-danger" %>
                  </small>
                </div>
              </div>
              <br>
              <div class="row mt-4">
                <div class="col">
                  <%= link_to "Cancelar orden",
                    payment_path(id: current_order.slug),
                    method: :delete,
                    data: { confirm: 'Seguro de cancelar la orden?' },
                    class: "btn btn-outline-danger btn-block"  %>
                </div>
                <div class="col">
                  <%= f.submit "Salvar", class: "btn btn-outline-dark btn-block", data: { target: "shopping.submitButton" },disabled: true %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>

<script>
  $('#paymentFileUpload').on('change',function(){
    let fileName = $(this).val().replace("C:\\fakepath\\", "");
    $('.form-file-text').html(fileName);
  })
</script>
