<div class="container">
  <%= form_with(model: [:admin, product], local: true) do |f| %>
    <div class="mb-4">
      <%= label_tag(:title, "Nombre") %>
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-4">
          <%= label_tag(:price, "Precio") %>
          <%= f.number_field :price, class: "form-control", required: true %>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-4">
          <%= label_tag(:quantity, "Cantidad") %>
          <%= f.number_field :quantity, class: "form-control", required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-4">
          <%= label_tag(:category, "Categoría") %>
          <%= f.select(:category, options_for_select(
            ProductCategory.all.pluck(:category_type).map { |c| [c.capitalize, c]},
            :selected => f.object.category), {include_blank: true},
            class: "form-control", required: true) %>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="mb-4">
          <%= label_tag(:option, "Opción") %>
          <% options = Product.options.
            map { |product| [product.humanize, product] } %>
          <%= f.select(:option, options_for_select(options,
            :selected => f.object.option),
            {include_blank: true}, class: "form-control", required: true) %>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <label >Foto</label>
      <div class="form-file">
        <%= f.file_field :main_image, class: "form-file-input", id: "productImage" %>
        <label class="form-file-label" for="productImage">
          <span class="form-file-text">Seleccionar...</span>
          <span class="form-file-button">Buscar</span>
        </label>
      </div>
    </div>
    <br>
    <div class="row mt-4">
      <div class="col">
        <%= link_to "Cancelar", admin_products_path, class: "btn btn-outline-danger btn-block"  %>
      </div>
      <div class="col">
        <%= f.submit "Salvar", class: "btn btn-outline-dark btn-block" %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('#productImage').on('change',function(){
    let fileName = $(this).val();
    $('.form-file-text').html(fileName);
  })
</script>
