<div id="admin-devise">
  <h3 class="py-3 text-center">Cambiame</h3>
  <div class="form-signin">
    <%= form_for(resource, as: resource_name,
      url: password_path(resource_name), html: { method: :put }) do |f| %>

      <%= render "admins/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-label-group">
        <%= f.password_field :password, autofocus: true,
          autocomplete: "new-password",
          id: "inputPassword", class: "form-control",
          placeholder: "Nueva Contrase単a" %>
          <% if @minimum_password_length %>
            <small>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            </small>
          <% end %>
        <label for="inputPassword">Nueva Contrase単a</label>
      </div>

      <div class="form-label-group">
        <%= f.password_field :password_confirmation, autofocus: true,
          autocomplete: "new-password",
          id: "confirmInputPassword", class: "form-control",
          placeholder: "Confirmar Contrase単a" %>
        <label for="confirmInputPassword">Confirmar Contrase単a</label>
      </div>

      <%= f.submit "Cambiar", class: "btn btn-lg btn-dark btn-block" %>
    <% end %>

    <div class="text-center mt-5">
      <%= render "admins/shared/links" %>
    </div>
  </div>
</div>
