<ul class="nav nav-tabs nav-fill pt-2 mb-5 mt-3">
	<li class="nav-link <%= 'active' if active == 'orders' %>">
		<%= link_to admin_orders_path,
			class: "text-decoration-none text-dark font-weight-bold" do %>
			<span>Ordenes Nuevas</span>
		<% end %>
	</li>
	<li class="nav-link <%= 'active' if active == 'shipped_orders' %>">
		<%= link_to admin_orders_shipped_index_path,
			class: "text-decoration-none text-dark font-weight-bold" do %>
			<span>Ordenes Enviadas</span>
		<% end %>
	</li>
	<li class="nav-link <%= 'active' if active == 'declined_orders' %>">
		<%= link_to admin_orders_declined_index_path,
			class: "text-decoration-none text-dark font-weight-bold" do %>
			<span>Ordenes Declinadas</span>
		<% end %>
	</li>
</ul>
